


@keyframes backgroundAnimation {
    0% {
        background-image: url('nekocyanPAKE4496-428.jpg');
    }
    33% {
        background-image: url('nekocyanPAKE4500-430_TP_V.jpg');
    }
    66% {
        background-image: url('nekocyanPAKE4496-428_TP_V.jpg');
    }
    100% {
        background-image: url('cat126IMGL6488_TP_V.jpg');
    }
}

/* head部分の背景にアニメーションを設定 */
head {
    position: relative;
    height: 300px; 
    animation: backgroundAnimation 5s infinite; 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


h1 {
    text-align: center;
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-decoration: underline;
}


#menu {
    list-style-type: none;
    text-align: center;
    margin-bottom: 30px;
}

#menu li {
    display: inline-block;
    margin: 0 15px;
}

#menu a {
    text-decoration: none;
    color: #007BFF;
    font-size: 1.1em;
    transition: color 0.3s ease;
}

#menu a:hover {
    color: #0056b3;
}


p {
    font-size: 1.2em;
    line-height: 1.8;
    margin-bottom: 20px;
    text-align: center;
}

p#introduction {
    font-style: italic;
    font-size: 1.1em;
    color: #555;
}


h2 {
    font-size: 1.8em;
    color: #333;
    margin-top: 40px;
    text-align: center;
}


h3 {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #ccc;
}


ol {
    margin-left: 30px;
    margin-bottom: 30px;
}

ol li {
    margin-bottom: 15px;
    font-size: 1.1em;
}

strong {
    font-weight: bold;
    color: #2C3E50;
}


ul {
    margin-left: 30px;
    list-style-type: square;
}

ul li {
    margin-bottom: 10px;
    font-size: 1em;
}


span {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
}


a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
